@if (hasRandomCode == false)
{
    <div class="">
        <p class="h1">沒有發現結果代碼</p>
    </div>
}
else
{
    <div>
        <!-- Header -->
        <header>
            <div class="header-container">
                <div class="header-left">
                    <img src="img/jm_logo.png" alt="巨明生醫">
                </div>
                <h1 class="header-title">最智慧的非侵入肌肉品質定量系統</h1>
                <button class="btn-back" onclick="history.back()">←</button>
            </div>
        </header>

        <!-- Main Content -->
        <main class="main-content">
            <!-- DICOM Images -->
            <div class="images-container">
                <div class="dicom-image">
                    <img src="@($"{image1}?v={imageVersion1}")" alt="DICOM Image 1">
                </div>
                <div class="dicom-image">
                    <img src="@($"{image2}?v={imageVersion2}")" alt="DICOM Image 2">
                </div>
            </div>

            <!-- Details Table -->
            <div class="details-container">
                <div class="details-table">
                    <div class="table-header">
                        <h2 class="table-title">詳細內容</h2>
                    </div>
                    <table class="table-body">
                        <tr>
                            <td>骨骼肌面積(SMA)</td>
                            <td>@aiResultModel.骨骼肌面積SMA</td>
                        </tr>
                        <tr>
                            <td>骨骼肌指標(SMI)</td>
                            <td>@aiResultModel.骨骼肌指標SMI</td>
                        </tr>
                        <tr>
                            <td>骨骼肌密度(SMD)</td>
                            <td>@aiResultModel.骨骼肌密度SMD (HU)</td>
                        </tr>
                        <tr>
                            <td>骨骼肌綜合指標(SMG)</td>
                            <td>@aiResultModel.骨骼肌綜合指標SMG</td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
    </div>
}

@code {

}
